LMSGI/Unidad 4 - DTD/Exercicis DTD III/Exercici_16/Cojita_Stefan_Exercici_16.dtd

<!ELEMENT informe (cabecera, datos)>
<!ELEMENT cabecera (descripcion, fecha)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT datos (region+)>
<!ELEMENT region (nombre, trimestre*, libros_vendidos*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT trimestre (#PCDATA)>
<!ELEMENT libros_vendidos (#PCDATA)>