LMSGI/Unidad 3 - XML/Exercicis DTD III/Cojita_Stefan_Exercici_2.dtd

<!-- Lo mismo que el anterior ejercicio. -->
<!ELEMENT receta (titulo, ingredientes, procedimiento)>
<!ELEMENT titulo (#PCDATA)> <!-- Definimos el tipo de datos para el elemento 'titulo'. -->
<!ELEMENT ingredientes (#PCDATA)> <!-- Definimos el tipo de datos para el elemento 'ingredientes'. -->
<!ELEMENT procedimiento (#PCDATA)> <!-- Definimos el tipo de datos para el elemento 'procedimiento'. -->
