LMSGI/Unidad 4 - DTD/Exercicis DTD IV/Exercici 4/Cojita_Stefan_Exercici_4.dtd

<!ELEMENT persona (nombre, nacimiento?, direccion+, varon)>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacimiento EMPTY>
<!ATTLIST nacimiento dia CDATA #REQUIRED>
<!ATTLIST nacimiento mes CDATA #REQUIRED>
<!ATTLIST nacimiento anyo CDATA #REQUIRED>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cpostal (#PCDATA)>
<!ELEMENT varon EMPTY>