LMSGI/Unidad 5 - XSD/Exercicis XSD I/Exercici 2/Cojita_Stefan_Exercici_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="exercici2">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="puertaCerrada" type="xs:boolean" default="false"/>
                <xs:element name="ventanaAbierta" type="xs:boolean" default="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
